:root {
  --main-color: red;
}
.greeting {
  font-size: larger;
  color: var(--main-color);
}
.description {
  color: var(--main-color);
}
.button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}
.button-list button {
  flex: 1 1 30px;
  border-radius: 2px;
}
